 {% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Translate | by Johán Steven Arias</title>
	<meta name='description' content='My Traductor - Hecho por Johan Steven Arias'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well">
					<h1>Ultimas Palabras añadidas</h1>
				</div>
			</div>
		</div>
	</div>
</body>
</html>